{% extends 'layout.html' %}


{% block body %}
<div class="col-md-8">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% block content %}
		<div class="content-section" style="white-space: pre-wrap;">
		<!-- <div class="content-section" style="width: 600px; height: 250px;"> -->
			<p>
				{{ content }}
			</p>
		</div>
		<!-- <div class="content-section" style="white-space: pre-wrap">
			<h4>Evolución del virus en el mundo</h4>
			<img src="{{ url_for('static', filename='/images/world.png') }}" alt="Gráfico">
			<h4>Evolución del virus en España</h4>
			<img src="{{ url_for('static', filename='/images/spain.png') }}" alt="Gráfico">
			<h4>Evolución del virus en Colombia</h4>
			<img src="{{ url_for('static', filename='/images/colombia.png') }}" alt="Gráfico">
		</div> -->
		<div style="width: 900px; height: 350px;">
			<img src="{{ url_for('static', filename='/images/world.png') }}" alt="Gráfico" style="float: left; width: 45%; margin-right: 1%; margin-bottom: 0.5em;">
			<img src="{{ url_for('static', filename='/images/world_death_ratio_I.png') }}" alt="Gráfico" style="float: right; width: 45%; margin-right: 1%; margin-bottom: 0.5em;">
		</div>
	{% endblock content %}
</div>
{% endblock %}