{% extends 'layout.html' %}

{% block body %}
<div class="col-md-8">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}
			<div>
				<p>Última acutalización: {{ content['last_update'] }}</p>
			</div>
			<div>
				<object type="text/html" data="{{ url_for('static', filename=figure) }}" style="height: 450px; width: 850px;"></object>
				<object type="text/html" data="{{ url_for('static', filename=world_map) }}" style="height: 600px; width: 850px;"></object>
				<!-- <span>Países con mayor número de casos existentes:</span> -->
			</div>
			<div class="content-section" style="white-space: pre-wrap">
				<span>
					{{ content['Introduction'] }}
				</span>
			</div>
		{% endblock content %}
	</div>
{% endblock %}