{% extends 'layout.html' %}

{% block body %}
<div class="col-md-8">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}
				<h4>Fuentes de obtención de los datos</h4>
				<p><strong>Datos globales: </strong><a href="https://github.com/CSSEGISandData/COVID-19/">GitHub de John Hopkins University (CSSE)</a></p>
				<p><strong>España: </strong><a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/situacionActual.htm">Ministerio de Sanidad</a></p>
				<p><strong>Colombia: </strong><a href="https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx">Instituto Nacional de Salud</a></p>
			</div>
		{% endblock content %}
	</div>
{% endblock %}