{% extends 'layout.html' %}

{% block body %}
<div class="col-md-8">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}
			<div>
				<p>Última acutalización: {{ content['last_update'] }}</p>
			</div>
			<div>
				<object type="text/html" data="{{ url_for('static', filename=figure) }}" style="height: 450px; width: 850px;"></object>
			</div>
		{% endblock content %}
	</div>
{% endblock %}